@model CultureSwitcherModel

<div>
    <form id="culture-switcher">
        <select name="culture" id="culture-options" class="form-control">
            @if (Model.SupportedCultures!=null){
                @foreach (var culture in Model.SupportedCultures)
                {
                    <option value="@culture.Name" selected="@(CultureInfo.CurrentUICulture.Name == culture.Name)">@(culture.DisplayName.Substring(0, 1).ToUpper() + culture.DisplayName.Substring(1))</option>
                }
            }
        </select>
    </form>
@* 
    <div class="dropdown">
        <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><span class="flag-icon flag-icon-us me-1"></span> <span>English</span></button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
                <a class="dropdown-item active" href="#"><span class="flag-icon flag-icon-us me-1"></span> <span>English</span></a>
            </li>
            <li>
                <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-fr me-1"></span> <span>French</span></a>
            </li>
            <li>
                <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-es me-1"></span> <span>Spanich</span></a>
            </li>
            <li>
                <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-sa me-1"></span> <span>Arabic</span></a>
            </li>
        </ul>
    </div> *@

    <script>
        let dropdown = document.getElementById("culture-options");
        dropdown.addEventListener("change", () => {
            document.getElementById("culture-switcher").submit();
            // set cookie
            document.cookie = `PreferredLanguage=${dropdown.value};path=/;max-age=31536000`;
        });
    </script>
</div>
